.pdia-container {
	margin-top: 10px;
	text-align: left;
}

.pdia-element {
}

.pdia-container a {
	text-decoration: none;
}

.pdia-container .pdia-title {
	max-width: 150px;
	color: #666666;
	
	padding-bottom: 5px;
	border-bottom: 1px solid silver;
}

.pdia-container .pdia-stats {
	margin-top: 5px;
}

.pdia-container .pdia-stats span {
	color: #666666;
}

.pdia-container .pdia-stats .pdia-author {
	color: #666666;
}

.pdia-container .pdia-list {
	list-style-type: square;
	margin: 0px; 
	padding: 0px;
}

.pdia-container .pdia-list li {
	margin: 0px;
	padding: 0px;
}

.pdia-container .pdia-img {
	width: 150px;
	height: 150px;
	border: 1px solid silver;
}


.pdia-container .pdia-stats .pdia-karma {
	margin-top: 5px;
}

.pdia-container .pdia-karmabar {
	list-style-type: none;
	font-weight: bold;
	
	font-family: Arial;
	display: inline;
}

.pdia-container span.pdia-karmabar-filled {
	color: #AA0000;
}

.pdia-container span.pdia-karmabar-default {
	color: #AAAAAA;
}