
.pdia-backend-title {
}

.pdia-backend-compids {
}

.pdia-backend-mode {
}

.pdia-backend-lang {
}

.pdia-backend-head {
}

.pdia-backend-info {
	padding-left: 4px;
	padding-right: 3px;
	border: 1px solid gray;
	
	background-color: #F6F6F6;
	color: #666666;
	
	font-weight: bold;
}

.pdia-backend-foot {
	margin-top: 10px;
	display: none;
}
